* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header, footer {
  background-color: #ec715f;
}

.header-container {
  display: flex;
  justify-content: center;
}

.header-wrapper {
  height: 70px;
  width: 1024px;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 70px;
}

.drawer_open {
  display: none;
}

.nav {
  display: flex;
}

.nav-list {
  line-height: 70px;
  list-style: none;
  padding: 0 30px;
  font-size: 16px;
}

.nav-list > a {
  color: #fafafa;
  text-decoration: none;
}

.main-visual {
  height: 650px;
  width: 100%;
  color: #fafafa;
  background-image: url("./img/mv.png");
  text-align: center;
  background-size: cover;
  background-position: center;
}

.mv-title {
  font-size: 64px;
  padding-top: 200px;
}

.mv-text {
  font-size: 20px;
  padding-top: 10px;
}

#portfolio {
  width: 100%;
  background-color: #eceff1;
}

.portfolio-content {
  width: 920px;
  color: #000000;
  padding: 90px 0;
  margin: 0 auto;
  text-align: center;
}

.heading {
  font-size: 32px;
}

.heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #ec715f;
}

.heading-text {
  margin: 30px 0;
  font-size: 16px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-image {
  height: 250px;
  width: 300px;
  margin: 0 10px 10px 0;
  background-size: cover;
  background-position: center;
}

.portfolio-image:nth-child(3),
.portfolio-image:nth-child(6) {
  margin-right: 0;
}

.portfolio-image:nth-child(4),
.portfolio-image:nth-child(5),
.portfolio-image:nth-child(6){
  margin-bottom: 0;
}

.image1 {
  background-image: url(./img/sketch.jpg);
}

.image2 {
  background-image: url(./img/websuku.png);
}

.image3 {
  background-image: url(./img/write.jpg);
}

.image4 {
  background-image: url(./img/webcamp.png);
}

.image5 {
  background-image: url(./img/talk.jpg);
}

.image6 {
  background-image: url(./img/webcamp-mother.png);
}

.feature-content {
  width: 980px;
  color: #000000;
  padding: 90px 0;
  margin: 0 auto;
  text-align: center;
}

.feature-strength {
  display: flex;
  text-align: center;
}

.strength {
  width: 320px;
  margin-right: 10px;
}

.strength:last-child() {
  margin-right: 0;
}

.strength-title {
  font-size: 20px;
  padding: 10px 0;
}

.strength-text {
  font-size: 16px;
  text-align: left;
}

#profile {
  background-color: #eceff1;
}

.profile-content {
  width: 1024px;
  color: #000000;
  padding: 90px 0;
  margin: 0 auto;
  text-align: center;
}

.profile-wrapper {
  display: flex;
  justify-content: center;
}

.left-content {
  width: 512px;
}

.my-icon {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.right-content {
  width: 512px;
  text-align: left;
}

.profile-title {
  font-size: 20px;
}

.profile-text {
  font-size: 16px;
  padding-top: 5px;
}

.contact-content {
  width: 800px;
  color: #000000;
  padding: 90px 0;
  margin: 0 auto;
  text-align: center;
}

.contact-wrapper {
  display: flex;;
}

.contact-address,
.contact-sns {
  width: 400px;
}

.contact-address-content {
  width: 130px;
  margin: 0 auto;
  text-align: left;
}

.contact-sns-content {
  width: 170px;
  margin: 0 auto;
  text-align: left;
}


.contact-title {
  font-size: 20px;
}

.contact-text {
  padding-top: 5px;
}

.contact-sns-content > i {
  padding-top: 5px;
  font-size: 50px;
  margin-right: 10px;
}

.contact-sns-content > .fa-instagram {
  margin-right: 0;
}

.copyright {
  color: #fafafa;
  font-size: 16px;
  line-height: 60px;
  text-align: center;
}

/* レスポンシブ対応後の記述 */
@media screen and (max-width: 767px) {
  br {
    display: none;
  }

  .header-wrapper {
    height: 50px;
    width: 90%;
  }

  .logo {
    height: 50px;
  }

  .nav:before {
    border: 1px solid #fafafa;
    width: 40px;
    margin: 5px 0;
    font-family: "Font Awesome 6 Free";
    content: '\f0c9';
    color: #fafafa;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
  }

  .nav-list {
    display: none;
  }

  .main-visual {
    height: 650px;
    width: 100%;
    background-image: url(./img/code.png);
  }

  .mv-title {
    width: 90%;
    font-size: 40px;
    margin: 0 auto;
  }

  .mv-text {
    width: 90%;
    font-size: 18px;
    margin: 0 auto;
  }

  .portfolio-content,
  .feature-content,
  .profile-content,
  .contact-content {
    width: 90%;
    margin: 0 auto;
  }

  .heading-text {
    text-align: center;
  }

  .portfolio-list {
    width: 90%;
    margin: 0 auto;
    display: inline-block;
  }

  .portfolio-image {
    height: 250px;
    width: 300px;
    margin: 0 auto 10px;
    text-align: center;
  }

  .portfolio-image:nth-child(4) {
    margin-bottom: 10px;
  }

  .portfolio-image:nth-child(6) {
    margin: 0 auto;
  }

  .image1,
  .image3,
  .image5 {
    display: none;
  }

  .feature-strength {
    display: inline-block;
  }

  .strength {
    width: 320px;
    margin: 0 auto 10px;
  }

  .strength:last-child() {
    margin: 0 auto;
  }

  .profile-wrapper {
    display: inline-block;
  }

  .left-content,
  .right-content {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .profile-title {
    padding-top: 20px;
  }

  .contact-wrapper {
    display: inline-block;
  }

  .contact-address {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .contact-sns {
    text-align: center;
  }

  .contact-address-content,
  .contact-sns-content {
    text-align: center;
  }

  .contact-title {
    padding-top: 20px;
    text-align: center;
  }

  .contact-title:first-child() {
    padding-top: 30px;
    text-align: center;
  }

  .contact-text {
    color: #000000;
  }

  .contact-sns-content > i {
    margin-right: 8px;
  }

  .contact-sns-content > i:last-child() {
    margin-right: 0;
  }
}
